@font-face {
    font-family: "Amatic";
    src: local("Amatic"), url(../../fonts/Amatic-Bold.ttf) format("truetype");
}

div {
    background: linear-gradient(
        to right, 
        hsl(300, 100%, 62%),
        hsl(190, 100%, 60%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h1 {
    font-size: 15vmin;
    line-height: 1.1;
}

h1, h2, p, body {
    margin: 0;
}

h1, h2, p {
    font-family: "Amatic", "Dank Mono", ui-monospace, monospace;
}

html {
    block-size: 100%;
    inline-size: 100%;
}