@font-face {
    font-family: "Amatic";
    src: local("Amatic"), url(../../fonts/Amatic-Bold.ttf) format("truetype");
}

div {
    background: linear-gradient(
        to right, 
        hsl(300, 100%, 62%),
        hsl(190, 100%, 60%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h6 {
    font-family: "Amatic", "Dank Mono", ui-monospace, monospace;
    margin: 0;
    font-size: 3vmin;
    line-height: 1.1;
}

html {
    block-size: 100%;
    inline-size: 100%;
}

.social-media-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 12px 60px;
}


.social-media-button {
    justify-self: center;
    margin: 5vmin;
    height: 100%;
}